@{
    ViewBag.Title = "Basestyle.Net | Base Style Dot Net";
    ViewBag.InitModule = "homeIndex";
}
<div id="index-banner">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="center grey-text valign">WORK</h1>
            <div class="divider"></div>
            <br/>
            <div class="row">
                <div class="col l8 offset-l2">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="~/Images/avatar.jpg" alt="Developer Lead" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                                <span class="black-text">
                                    As lead developer here at Basestyle.net I hereby certify this work as "Super Dope". Feel free to contact me personally to discuss the plans for your slice of the web.
                                </span>
                            </div>
                        </div>
                    </div>
                    <blockquote>
                        This is an example quotation that uses the blockquote tag.
                    </blockquote>
                    <div class="divider"></div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/images/office.jpg" alt="The Office">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="~/Images/avatar.jpg" alt="Developer Lead" class="circle">
                            <span class="title">Title</span>
                            <p>
                                First Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="mdi-file-folder circle"></i>
                            <span class="title">Title</span>
                            <p>
                                First Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="mdi-action-assessment circle green"></i>
                            <span class="title">Title</span>
                            <p>
                                First Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="mdi-av-play-arrow circle red"></i>
                            <span class="title">Title</span>
                            <p>
                                First Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                        </li>
                    </ul>
                    <div class="divider"></div>

                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
                    <div class="divider"></div>
                    <div class="divider"></div>
                </div>
                </div>
            </div>

            </div>
    </div>
</div>